/* -- Cool dark UI template css -- */
/* -- Global style -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #F5F8FF;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #252432;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: #4E47FF;
    box-shadow: 10px 10px 50px #ccc;
    padding: 14px 34px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.6s;
    cursor: pointer;
}

.btn:hover {
    background-color: #252432;
}

.section-heading {
    font-size: 36px;
    font-weight: 600;
}

.section-txt {
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.6em;
    color: #8987A1;
    margin: 19px 0 24px;
}
/* -- end Global style -- */




/* -- hero area css start -- */
.hero-area {
    min-height: 100vh;
    background: url('img/Hero-bg.png');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    overflow: hidden;
}

.nav-sec {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 50px #ccc;
    border-radius: 56px;
    padding: 29px;
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    align-items: center;
}

.nav-area { 
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.nav-menu ul li a {
    color: #000248;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    margin-left: 49px;
    transition: 0.4s;
}

.nav-menu ul li a:hover {
    color: #4E47FF;
    margin-top: 10px;
}

.nav-btn a {
    margin-left: 49px;
    margin-right: 10px;
}


.header-sec {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-txt {
    width: 60%;
    margin: 0 auto;
}

.header-txt h2 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.header-txt p {
    font-size: 19px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.6em;
    color: #8987A1;
    margin: 19px 0;
}

.header-btn a {
    padding: 17px 34px;
    box-shadow: 0 8px 49px 16px lightblue;
    margin-top: 19px;
    transition: 0.4s;
}

.header-btn a:hover {
    padding: 19px 39px;
}

/* -- hero area css end -- */



/* -- see it action sec start -- */
.see-it-action-wrapper {
    background: #fff;
    padding-bottom: 76px;
}

.action-area {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.action-img img {
    border-radius: 26px;
    box-shadow: 10px 10px 50px #ccc;
}

/* -- see it action sec end -- */



/* -- user review area start -- */
.productive-user {
    background-color: #E5E7FF;
    border-radius: 24px;
    padding: 46px 76px;
    margin-bottom: 96px;
    margin-top: -76px;
}

.productive-user-heading {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 34px;
}

.review-card-container {
    display: flex;
    justify-content: space-around;
}

.review-number {
    color: #4E47FF;
    font-size: 76px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.review-txt {
    color: #8987A1;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    text-align: center;
}
/* -- user review area end -- */



/* -- testimonial-area start -- */
.testimonial-area {
    padding: 96px 0;
    padding-top: 0;
    margin-bottom: 36px;
}

.testimonial-heading {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 46px;
}


.testimonial-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.testimonial-card {
    background-color: #fff;
    border-top: 4px solid #4E47FF;
    border-radius: 26px;
    box-shadow: 10px 10px 50px #ddd;
    padding: 29px 24px;
}

.star-icon .fa-solid {
    color: #FFB805;
}


.testionial-card-content h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: left;
    margin: 19px 0;
}


.testionial-card-content p {
    font-size: 14px;
}


.testimonial-card-user-container {
    display: flex;
    align-items: center;

}

.card-user-img img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    margin-right: 19px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px #ddd;

}

.card-user-person h5 {
    color: #757575;
    font-size: 16px;

}

.card-user-person h6 {
    color: #B3B3B3;
    font-size: 14px;
    margin-top: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

/* -- testimonial-area end -- */



/* -- call to action start -- */
.call-to-action {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 26px;
    margin-bottom: 96px;
    padding: 0 26px 24px;
}


.call-to-action-content {
    padding: 49px 96px;
    text-align: center;
}

.call-to-action-content h2 {
    font-size: 42px;
    font-weight: 700;
}


.call-to-action-banner {
    height: 456px;
    width: 100%;
    border-radius: 24px;
    background-image: url('img/wc-big.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 76px;   
}

/* -- call to action end -- */


/*-- web template area start --*/
.web-template-area {
    margin-bottom: 76px;
    text-align: center;
}

.web-template-area h2 {
    font-size: 42px;
    font-weight: 700;
}


.web-template-container {
    display: flex;
    flex-wrap: wrap;
}

.web-template {
    padding: 19px;
    flex: 0 0 33.33%; 
}

.web-template img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    box-shadow: 10px 10px 49px -10px #ccc;
    margin-bottom: 10px;
    transition: 0.4s;
}

.web-template img:hover {
    margin-top: 24px;
}

.web-template h4 {
    font-size: 24px;
    margin: 19px 0;
}

/*-- web template area start --*/



/*-- contact us start --*/
.contacu-wrapper {
    background: #fff;
    padding: 96px 0;
}

.contact-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-area-txt {
    flex: 0 0 55%; 
}

.contact-form {
    flex: 0 0 45%; 
}

.contact-area-txt h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
}

.contact-area-txt img {
    width: 60%;
    height: auto;
}

.contact-form form {
    padding: 46px;
    border-radius: 24px;
    box-shadow: 10px 10px 49px -10px #ccc;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #000248;
    margin-bottom: 16px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #F5F8FF;
    border: none;
    border-bottom: 1px solid #4E47FF;
    border-radius: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 15px 19px;
    font-size: 16px;
}

input::placeholder {
  color: #B3B3B3;
  font-size: 14px;
  opacity: 1;
}

textarea::placeholder {
  color: #B3B3B3;
  font-size: 14px;
  opacity: 1;
}

textarea {
    height: 156px;
}

input[type="submit"]{
    text-decoration: none;
    display: block;
    width: 100%;
    color: #fff;
    background-color: #4E47FF;
    border: 1px solid #4E47FF;
    box-shadow: 10px 10px 50px #ccc;
    padding: 14px 34px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.6s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #252432;
}

.input-name {
    display: flex;
    gap: 19px;
}

.user-input-field {
    width: 50%;
}

.submit-btn {
    margin-top: 29px;
}

/*-- contact us end --*/




/* -- footer area start -- */
.footer-area {
    padding: 96px 0 76px;
    text-align: center;
}

.footer-logo img {
    width: 111px;
    height: auto;
    
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-menu ul li a {
    color: #8987A1;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    margin-left: 49px;
    transition: 0.4s;
}

.footer-menu ul li a:hover {
    color: #4E47FF;
    margin-top: 10px;
}

.footer-social {
    padding: 46px 0 0;
}

.footer-social .fa-brands {
    font-size: 22px;
    margin: 0 10px;
    transition: 0.4s;
    cursor: pointer;
}

.footer-social .fa-brands:hover {
    color: #4E47FF;
}

/* -- footer area end -- */
